# Ignorar archivos y carpetas específicos

# Archivos de configuración local
direccionHost.js

# Ignorar dependencias de Node.js
../../backend/node_modules/
 node_modules/

# Ignorar carpetas de subida de archivos
backend/uploads/
uploads/

# Ignorar datos persistentes de base de datos
db_data/



